APP_DOMAIN=seo-analyzer.proclouds.ru

POSTGRES_DB=seo_ai_analyzer_gist
POSTGRES_USER=seo_ai_analyzer_gist
POSTGRES_PASSWORD=
REDIS_PASSWORD=

LLM_BASE_URL=https://api.timeweb.ai/v1
LLM_API_KEY=
LLM_EMBEDDING_MODEL=openai/text-embedding-3-large
